In [1]:
a=10
b=20

In [2]:
print(a,b,10,100,sep='*',end='!!')

10*20*10*100!!

### 마지막 값을 반환한다. 아래 경우에선 a는 무시하고 b 값을 반환함

In [4]:
a
b

20

### 쌍을 반환함

In [5]:
a,b

(10, 20)

### 파이썬은 선언할 때 초기화도 같이 해야 됨 

초기값이 마땅히 없을때 None으로 선언하면 된다.

In [8]:
a=None

--------------------

# <span style="color:orange"> List </span>

### 문자열 슬라이싱 [start:end]  start<=index<end

In [13]:
a='Hellow world'
a[0:5]

'Hello'

### Replace => 원본에 반영되지 않음

In [17]:
a='hello world'
a=a.replace('h','H')
print(a)

Hello world

### Format

In [18]:
temp=20
prob=80.0
a='오늘 기온 {}도 이고, 비올 확률은 {}%입니다.'.format(temp,prob)
print(a)

오늘 기온 20도 이고, 비올 확률은 80.0%입니다.

### split => list 형식으로 return

In [20]:
a='hello world what a nice weather'
a.split()

['hello', 'world', 'what', 'a', 'nice', 'weather']

### list 생성

In [22]:
a=[] 
a=[1,2,3,4,5]
a=['korea','canada',[2,4]]

In [23]:
a='hello world'
b=list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

### 문자열은 불변(immutable)이다.

In [24]:
a='hello world'
print(a[0])

h

In [25]:
a='hello world'
print(a[0])
a[0]='j'

h

TypeError: 'str' object does not support item assignment

### Slicing은 인자는 2개이다. start:end:increment

In [26]:
a=[1,2,3,4,5,6,7]
a[1::3]

[2, 5]

### append() VS extend()

In [31]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

# a.append(b)
# print(a)
# out: [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

# a.extend(b)
a+=b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### remove() : 값으로 지우기

In [33]:
a=['a','b','c','d','e']
print(a)
a.remove('b')
print(a)

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'd', 'e']

### pop() : index로 지우기 (pop되는 항목을 반환함)

In [36]:
a=['a','b','c','d','e']
print(a)
print(a.pop(2)) # => 삭제하는 값을 반환함
print(a)

['a', 'b', 'c', 'd', 'e']
c
['a', 'b', 'd', 'e']

### index() : 찾고자 하는 값의 index를 반환

In [37]:
a=['a','b','c','d','e']
a.index('b')

1

### in 키워드 : 리스트 내에 해당 값이 존재하는 지 확인

In [38]:
a=[1,2,3,4,5]
b=10
c= b in a
print(c)

False

### list 정렬
- sort() => 리스트 자체를 내부적으로 정렬
- sorted() => 리스트의 정렬된 복사본을 반환

In [42]:
a=[1,4,3,5,6,8,3,2]
a.sort(reverse=True)
b=sorted(a)
# b=sorted(a,reverse=True)
print(a)
print(b)

[8, 6, 5, 4, 3, 3, 2, 1]
[1, 2, 3, 3, 4, 5, 6, 8]

-----------------

# **<span style="color:orange">Tuple</span>**

In [3]:
a=[1,2,3]
b=(1,2,3)

print(type(a))
print(type(b))

b[0]=4 # tuple의 원소는 불변

<class 'list'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

### tuple unpacking : 
튜플의 값을 차례대로 변수에 대입, 동시에 여러 값을 반환할 때 튜플이 사용됨

In [6]:
a,b=100,200
print(a,b)

type(a)

100 200

int

### tuple unpacking 예제 : swab 함수 구현

In [11]:
a=1
b=2
print(a,b)
# temp=a
# a=b
# b=temp

a,b=b,a
print(a,b)

1 2
2 1

------------

# **<span style="color:orange">Dictionary</span>**

- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음. 즉, 인덱스가 없음

In [17]:
a={} # 초기화
a={'Korea','Seoul','Ottawa','USA'}
print(a)

{'Korea', 'Seoul', 'Ottawa', 'USA'}

In [21]:
a={'Korea':'seoul','Canada':'Ottawa'}
print(a['Korea'])
print(a['Japan'])

seoul

KeyError: 'Japan'

### 삽입의 경우 기존에 값이 있는 경우 덮어씌움, 없는 값이면 삽입

In [26]:
a={'Korea':'seoul','Canada':'Ottawa'}
a['Japan']='Tokyo'
a['Japan']='Osaka'
a['China']='Beijing'
print(a)

{'Korea': 'seoul', 'Canada': 'Ottawa', 'Japan': 'Osaka', 'China': 'Beijing'}

### update()
- 두 딕셔너리 병합함
- 겹치는 키가 있으면 parameter로 전달되는 값이 overwrite됨 => 괄호안의 값으로 overwrite됨

In [28]:
a={'Korea':'seoul','Canada':'Ottawa'}
b={'Korea':'Daegu'}
print(b)
b.update(a)
print(b)

{'Korea': 'Daegu'}
{'Korea': 'seoul', 'Canada': 'Ottawa'}

### key 삭제
- del 키워드 사용
- pop 함수 이용

### in
- key값 존재 확인
- O(1) 연산, dict의 크기와 관계없이 항상 연산의 속도가 일정하다.

In [3]:
a={'a':1,'b':2}

print('a' in a)
print('d' in a)

True
False

### Value access
- dict[key] 접근 => key가 없는 경우 에러 발생
- .get()으로 접근 => key가 없는 경우 None 반환

### 모든 keys, values 반환
- keys() => 키만 반환
- values() => 값만 반환
- items() => 키, 값의 튜풀을 반환

In [15]:
print(a)
print(type(a.keys())) #=> 자료형 => dict_keys
print(type(list(a.keys())))

print(type(a.values())) #=> 자료형 => dict_values
print(type(list(a.values())))

print(type(a.items())) #=> 자료형 => dict_keys
print(type(list(a.items()))) # 내부는 tuple로 구성되어있음.

{'a': 1, 'b': 2}
<class 'dict_keys'>
<class 'list'>
<class 'dict_values'>
<class 'list'>
<class 'dict_items'>
<class 'list'>

--------------------

# **<span style="color:orange">Set</span>**
- Dictionary에서 key만 있는 구조
- 순서가 없다.

### set() 함수로 set으로 변환 가능

In [16]:
a=[1,2,3,4,5,6,7,8,9]
print(type(a))
b=set(a)
print(type(b))

<class 'list'>
<class 'set'>

### 수학 연산과 동일

In [19]:
a={1,2,3}
b={3,4,5,6}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b))  # 차집합
print(a.issubset(b)) #부분 집합

{1, 2, 3, 4, 5, 6}
{3}
{1, 2}
False